

/*navigation*/
nav {
  font-family: 'Share Tech Mono';
  font-size: 1.6em;
  border: 1px solid orange;
}
#main-nav {
  width: 100%;
  position: relative;
}
#main-nav ul:first-of-type {
  width: 100%;
}
li {
  border: 1px solid #eee;
}
ul, li {
  list-style: none;
  padding: 0;
}
ul a, li a {
  text-decoration: none;
  text-align: center;
  display: block;
  border: 1px solid red;
}
div.active {
  width: 70%;
  position: absolute;
  border: 1px solid #FFA8FF;
}
.subitem {
  display: none;
}
.active .subitem {
  display: block;
  position: absolute;
  text-align: center;
  left: 0;
  margin-top: 40px;
}
.active .subitem:last-child {
  right: 0;
}
#main-nav .tier-1 {
  /*text-align: center;
  float: left;*/
  display: table-cell;
}
#main-nav ul:first-child {
  display: table;
}
#main-nav p {
  border: 1px solid blue;
}
