/*navigation*/
li {
  /*border: 1px solid #eee;*/
}
ul, li {
  list-style: none;
  padding: 0;
  margin: 0;
}
ul a, li a {
  text-decoration: none;
  text-align: center;
  display: block;
  color: #3EFF00;
  text-shadow:
  -1px -1px 1px #000,
  -1px 1px 0 #000,
  1px -1px 0 #000,
  1px 1px 0 #000
  ;
  /*border: 1px solid red;*/
  margin: 0;
  padding: 0;
}
nav > ul {
  /*border: 1px solid purple;*/
}
nav {
  font-family: 'Share Tech Mono';
  font-size: 1.6em;
  background: #030D00;
  padding: 15px 0 15px 0;
  /*border: 1px solid orange;*/
}
nav .submenu {
  font-size: .95em;
}
nav .submenu a {
  color: #030D00;
  text-shadow:
  -1px -1px 0 #3EFF00,
  -1px 1px 0 #3EFF00,
  1px -1px 0 #3EFF00,
  1px 1px 0 #3EFF00
}
#main-nav {
  width: 100%;
  position: relative;
}
#main-nav ul:first-of-type {
  width: 100%;
}
div.active {
  position: absolute;
  /*border: 1px solid #FFA8FF;*/
}
.subitem {
  display: none;
}
.active .subitem {
  display: block;
  position: absolute;
  text-align: center;
  left: 0;
  margin-top: 40px;
}
.active .subitem:last-child {
  right: 0;
}
#main-nav .tier-1 {
  display: table-cell;
}
#main-nav ul:first-child {
  display: table;
}
