/*navigation*/
nav .submenu {
  font-size: .95em;
}
nav {
  font-family: 'Share Tech Mono';
  font-size: 1.6em;
  /*border: 1px solid orange;*/
}
nav > ul {
  /*border: 1px solid purple;*/
}
#main-nav {
  width: 100%;
  position: relative;
}
#main-nav ul:first-of-type {
  width: 100%;
}
li {
  /*border: 1px solid #eee;*/
}
ul, li {
  list-style: none;
  padding: 0;
  margin: 0;
}
ul a, li a {
  text-decoration: none;
  text-align: center;
  display: block;
  /*border: 1px solid red;*/
  margin: 0;
  padding: 0;
}
div.active {
  width: 70%;
  position: absolute;
  /*border: 1px solid #FFA8FF;*/
}
.subitem {
  display: none;
}
.active .subitem {
  display: block;
  position: absolute;
  text-align: center;
  left: 0;
  margin-top: 40px;
}
.active .subitem:last-child {
  right: 0;
}
#main-nav .tier-1 {
  display: table-cell;
}
#main-nav ul:first-child {
  display: table;
}
#main-nav span.underline {
  border-bottom: 1px solid blue;
}
